.hero {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 500px;
    background-image: url("/src/components/img/bg.jpg");
    background-position: center;
    background-size: cover;
}

#logoHero {
    width: 20vw;
}

.hero div p{
    font-size: 14px;
    width: 48vw;
    font-style: italic;
}

.hero div h1{
    text-align: left;
    font-size: 60px;
    text-transform: capitalize;
    width: 40vw;
    display: flex;
    color: var(--pink-color);
}

.hero div{
    display: flex;
    flex-direction: column;
    gap: 14px;
}




.hero div a img{
    width: 20px;
    filter: invert(1);
}