.information {
    background-color: var(--pink-color);
    color: #fff;
    padding: 3rem 2rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    flex-direction: column;
}

.information div {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 50vw;
    text-align: center;
}
.information h2  {
    font-size: 48px;
    width: 80vw;
}

p ul li{
    list-style: none;
    text-align: center;

}

